.kurs{
    margin: 50px 0;
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    >h1{
        font-size: 45px;
    }
    .all-courses{
        width: 100%;
        height: auto;
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        &__card{
            width: 320px;
            height: 480px;
            background-color: rgba(188, 221, 233, 0.67);;
            border-radius: 12px;
            overflow: hidden;
        }
        &__img{
            width: 100%;
        }
    }
    .card-content{
        padding: 20px 10px 30px 10px;
        h1{
            font-size: 28px;
            padding: 10px 0;
        }
        p{
            font-size: 146x;
        }
        button{
            width: 60%;
            height: 40px;
            border: none;
            border-radius: 25px;
            color: white;
            background-color: rgb(68, 193, 240);
            font-size: 16px;
            &:hover{
                background-color: rgb(145, 217, 243);
                transition: all 0.2s ease-in-out;
            }
        }
    }
    .number{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        span{
            display: flex;
            flex-direction: column;
            
        }
    }
}
