.about-video{
    overflow-x: hidden;
    width: 100%;
    height: 720px;
    padding: 10px;
    display: flex;
    margin-top: 50px;
    background-color: rgb(196, 225, 235);
    position: relative;
    align-items: center;
    .video{
        position: absolute;
        left: -10%;
        border: none;
    }
    .about-content{
        position: absolute;
        right: -10%;
        width: 980px;
        background-color:  white;
        height: 420px;
        padding: 100px;
        display: flex;
        border-radius: 12px;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        h1{
            font-size: 50px;
            letter-spacing: 1px;
        }
        p{
            font-size: 16px;
            color: rgb(78, 77, 77);
            letter-spacing: 2px;
        }
    }
    .social-content{
        display: flex;
        align-items: center;
        column-gap: 5px;
    }
}
.meet{
    margin: 100px 0 20px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 0;
    row-gap: 20px;
    h1{
        font-size: 55px;
    }
    p{
        font-size: 16px;
        color: gray;
    }
    button{
        width: 400px;
        background-color: rgba(52, 180, 222, 0.874);
        height: 45px;
        color: white;
        font-size: 20px;
        border: none;
        border-radius: 25px;
        margin-top: 20px;
        &:hover{
            background-color: rgb(188, 221, 232);
        }
    }
}